<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../static/css/output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3aafa2d65b.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body class="bg-gradient-to-br from-pink-300 to-purple-300 scroll-smooth ">
 <div class="bg-no-repeat bg-center bg-cover" style="background-image: url('https://drive.google.com/uc?id=1hfx5jOwi_NYJL1NlYhf9kSnhO1V2wK9_')">
  <nav class="bg-transparent h-24 shadow-lg shadow-slate-400 rounded-2xl">
      <img class="float-left h-16 w-60 rounded-md pt-5" src="https://drive.google.com/uc?id=1BlLJXrLvtzM2UZbH2EHI3rgrme6ojVUO">
        <div class="flex justify-end font-bold pt-4">
            <button class="pr-6  hover:bg-gray-200 rounded-xl m-1 p-2"><a href="#"></a>home</button>
            <button class="pr-6  hover:bg-gray-200 rounded-xl m-2 p-2"><a href="#quickie">quickie</a></button>
            <button class="pr-6  hover:bg-gray-200 rounded-xl m-2 p-2"><a href="#divisions">divisions</a></button>
            <button class="pr-6  hover:bg-gray-200 rounded-xl m-2 p-2"><a href="#venting">venting</a></button>
            <button class="pr-6  hover:bg-gray-200 rounded-xl m-2 p-2"><a href="#your_problem">your problem</a></button>
            <button class="pr-6  hover:bg-gray-200 rounded-xl m-2 p-2"><a href="#outsourcing">outsourcing</a></button>
            <button class="pr-6  hover:bg-gray-200 rounded-xl m-2 p-2"><a href="#overview">overview</a></button>
            <button class="pr-6  hover:bg-gray-200 rounded-xl m-2 p-2"><a href="#warm_up">warm up</a></button>
            <button class="pr-6  hover:bg-gray-200 rounded-xl m-2 p-2"><a href="{{url_for('login')}}">login</a></button>
        </div>
    </nav>
    <div class="h-auto w-auto">
      <img class="h-auto w-auto mt-36 pb-32" src="https://drive.google.com/uc?id=13cWmYSScEkB5q1RnJLMhZN14isF2thD1">
  </div>
  </div>
</div>
</div>
    <div class="grid grid-cols-3 gap-10 m-24">
        <div class="bg-gr p-5 font-bold font-div text-3xl h-auto w-auto rounded-xl hover:drop-shadow-2xl transition ease-out delay-150 hover:-translate-y-2 hover:scale-105 ...">Her Instincts -<br><hr>Our services<img class=" mt-10 rounded-full" src="https://drive.google.com/uc?id=1QTu6WXbXKmibrzBE2AUrgroQV_4yEGbk"> </div>
        <div class="bg-gr p-5 font-bold font-div tracking-wide text-xl h-auto w-auto rounded-xl transition ease-out delay-150 hover:-translate-y-2 hover:scale-105 ..."><div class="flex justify-center mb-5"><img class="rounded-full" src="https://drive.google.com/uc?id=11wOsfySyKBoAg_L2Wm4OKTOMwN7RvnUA"></div> Dedicatesd online forum and other peer support services where you can talk to peolpe with similar experiences<h1 class="bg-black w-auto text-center p-2 mt-7 text-white font-bold rounded-lg"><a href="{{url_for('forum')}}">Her Space</a></h1></div>
        <div class="bg-gr p-5 font-bold font-div tracking-wide text-xl h-auto w-auto rounded-xl transition ease-out delay-150 hover:-translate-y-2 hover:scale-105 ..."><div class="flex justify-center mb-5"><img class="rounded-full" src="https://drive.google.com/uc?id=1hs9B3hNmQBmrdKkx-0kx5D1rKqHri8yj"></div>Phone chat and e-mail services for confidential and professional support<h1 class="bg-black w-auto text-center p-2 mt-20 text-white font-bold rounded-lg">Her Service</h1></div>
        <div class="bg-gr p-5 font-bold font-div tracking-wide text-xl h-auto w-auto rounded-xl transition ease-out delay-150 hover:-translate-y-2 hover:scale-105 ..."><div class="flex justify-center mb-5"><img class="rounded-full h-60" src="https://drive.google.com/uc?id=1Ya3Ke7wq6rOV7D5vQHvUp4trTEzYNPIS"></div>Medical Outsourcing Services to get professional support<h1 class="bg-black w-auto text-center p-2 mt-7 text-white font-bold rounded-lg">Her Health</h1></div>
        <div class="bg-gr p-5 font-bold font-div tracking-wide text-xl h-auto w-auto rounded-xl transition ease-out delay-150 hover:-translate-y-2 hover:scale-105 ..."><div class="flex justify-center mb-5"><img class="rounded-full mt-4" src="https://drive.google.com/uc?id=1GdCJJT25BT1j842oaJyzewkkOwu_w8_g"></div>Dedicated Deep learning chat bot to provide support<h1 class="bg-black w-auto text-center p-2 mt-10 text-white font-bold rounded-lg">Her Choice</h1></div>
        <div class="bg-gr p-5 font-bold font-div tracking-wide text-xl h-auto w-auto rounded-xl transition ease-out delay-150 hover:-translate-y-2 hover:scale-105 ..."><div class="flex justify-center mb-5"><img class="rounded-full" src="https://drive.google.com/uc?id=1MR74e7aIAoMttUT9rw8j5XXThi_cwNo7"></div> Specialised mental health web app for women community<h1 class="bg-black w-auto text-center p-2 mt-7 text-white font-bold rounded-lg">Her Freedom</h1></div>
      </div>
      <div id="quickie" class="h-auto w-auto ml-12 mt-10 mr-12">
       <iframe class=" w-full aspect-video rounded-2xl h-96 hover:aspect-square" src="{{asmr_link}}"></iframe> 
      </div>
      <div id="divisions" class="bg-gr h-auto w-auto rounded-xl ml-12 mt-10 mr-12 p-10 transition ease-out delay-150 hover:-translate-y-2 hover:scale-105 ...">
          <div class="grid grid-cols-3 gap-10 m-5 ">
          <div class="h-auto w-auto text-xl tracking-wide font-div font-bold bg-black text-white p-5 rounded-lg"><h1 class="font-bold bg-white text-black text-xl mb-3 rounded-lg w-auto p-3 text-center">Mental health difficulties</h1><img class="rounded-full mt-10 mb-5" src="https://drive.google.com/uc?id=1r_xT4eYOYhKJHpuRhm9xv371Y-Cv7s-z"><p class="pt-6">Mental illness, also called mental health disorders, refers to a wide range of mental health conditions — disorders that affect your mood, thinking and behavior. Examples of mental illness include depression, anxiety disorders, schizophrenia, eating disorders and addictive behaviors</p></div>
          <div class="h-auto w-auto text-xl  tracking-wide font-div font-bold bg-black text-white p-5 rounded-lg"><h1 class="font-bold bg-white text-black text-xl mb-3 rounded-lg w-auto p-3 text-center">Supporting Ourselves</h1><img class="rounded-full h-64 ml-5 mt-10 mb-5" src="https://drive.google.com/uc?id=1kkibFVl-QPQdP6g3-lMBZ-000iWcwh09"><p class="pt-6"> Taking good care of yourself is paramount to the success of your recovery process. People in recovery find that their physical, spiritual, and emotional health are all connected, and that supporting one supports the others. Taking care of all aspects of you will increase the likelihood that you stay well.</p></div>
          <div class="h-auto w-auto text-xl  tracking-wider font-div font-bold bg-black text-white p-5 rounded-lg"><h1 class="font-bold bg-white text-black text-xl mb-3 rounded-lg w-auto p-3 text-center">Supporting Someone Else</h1><img class="rounded-full h-64 mt-10 mb-5" src="https://drive.google.com/uc?id=1FIR5opRIufUUri6hJOmcCZDF2XfX7S8l"><p class="pt-6">Mental health problems can be complex. There are many individual differences in the symptoms and how each person responds to different treatment options. However, as with a physical illness, a person with a mental health condition will benefit from the right treatment and support. Having someone to lean on while working through this experience can reduce stress and help them on the road to recovery.</p></div>
        </div>
      </div>
      <div class="bg-gr h-auto w-auto rounded-xl flex justify-center ml-12 mt-10 mr-12 p-10 transition ease-out delay-150 hover:-translate-y-2 hover:scale-105 ...">
        <div class="grid grid-cols-2 gap-10 m-5 ">
          <div class="h-auto w-auto text-xl font-div font-bold bg-black text-white p-5 rounded-lg"><a href="{{url_for('venting')}}">venting</a></div>
          <div class="h-auto w-auto text-lg font-div font-bold bg-black text-white p-5 rounded-lg"><a href="{{url_for('bot')}}"> check your problems</a></div>
        </div>
      </div>
      <div id="outsourcing" class="bg-gr h-auto w-auto rounded-xl ml-12 mt-10 mr-12 p-10 transition ease-out delay-150 hover:-translate-y-2 hover:scale-105 ...">
         <h1 class="text-center h-auto w-auto rounded-lg p-3 text-2xl font-semibold bg-black text-white">Outsourcing Medical Services</h1>
         <div class="grid grid-cols-3 gap-10 m-5 ">
          <div class="h-auto w-auto text-xl font-div font-bold bg-black text-white p-5 rounded-lg"><h1 class="font-bold bg-white text-black text-xl mb-3 rounded-lg w-auto p-3 text-center">Psychologists</h1><img class="rounded-full mt-10 mb-10" src="https://drive.google.com/uc?id=1DeWXJ_Xcaehg57BKT9LLWx3-nuZrqgor"><button class="h-auto w-auto ml-24 p-2 bg-white text-black rounded-lg">book now</button></div>
          <div class="h-auto w-auto text-lg font-div font-bold bg-black text-white p-5 rounded-lg"><h1 class="font-bold bg-white text-black text-xl mb-3 rounded-lg w-auto p-3 text-center">Psychatrist</h1><img class="rounded-full mt-10 mb-14 w-72 ml-5" src="https://drive.google.com/uc?id=1gXRrCawofQAZqzDhV7zCeK5n1XkZzj_V"><button class="h-auto ml-24 w-auto p-2 bg-white text-black rounded-lg">book now</button></div>
          <div class="h-auto w-auto text-lg font-div font-bold bg-black text-white p-5 rounded-lg"><h1 class="font-bold bg-white text-black text-xl mb-3 rounded-lg w-auto p-3 text-center">Therapist</h1><img class="rounded-full mt-12 h-64 ml-3 w-72 mb-16" src="https://drive.google.com/uc?id=1N355AVpRlMQNirLQfEz41MPMwXrMlrmg"><button class="h-auto ml-24 w-auto p-2 bg-white text-black rounded-lg">book now</button></div>
        </div>
      </div>
      <div id="overview" class="bg-gr h-auto w-auto rounded-xl ml-12 mt-10 mr-12 mb-10 p-10 transition ease-out delay-150 hover:-translate-y-2 hover:scale-105 ...">
          <h1 class="text-center h-auto w-auto rounded-lg p-3 text-2xl font-semibold bg-black text-white">common mental health difficulties</h1>
        <div class="grid grid-cols-3 gap-10 m-5 font-bold ">
        
          <div class="h-auto w-auto bg-black text-white p-5 rounded-lg"><h1 class="text-lg text-center text-white">Problems faced by women</h1><br><img class="rounded-full h-36 ml-24 mb-7 w-36" src="https://drive.google.com/uc?id=16kLq1GUW1N3-zHFHqNoOMEkW_cE9I8Oz"><h1 class="text-semibold  text-center">Age : 0-15</h1>
            <ul class="text-lg text-center mt-6">
            <li>Generalised Anxiety</li>
            <li>Social phobias</li>
            <li>Depression</li>
            </ul>
          </div>
          <div class="h-auto w-auto bg-black text-white p-5 rounded-lg"><h1 class="text-lg text-center text-white">Problems faced by women</h1><br><img class="rounded-full h-36 ml-24 mb-7 w-36" src="https://drive.google.com/uc?id=1RYIKItwju0DTA9lZedMMIUMnF9GXuEhX"><h1 class="text-semibold text-center">Age : 15-50</h1>
          <ul class="text-lg text-center mt-6"> 
            <li>Past mistakes</li>
            <li>Worrying about children futures</li>
            <li>Financial problems</li>
            </ul>
          </div>
          <div class="h-auto w-auto bg-black text-white p-5 rounded-lg"><h1 class="text-lg text-center text-white">Problems faced by women</h1><br><img class="rounded-full h-36 ml-24 mb-7 w-36" src="https://drive.google.com/uc?id=1I15gz6roCtgdMYOZAWHbNG6IkISvdTuV"><h1 class="text-semibold text-center">Age : 50+</h1>
            <ul class="text-lg text-center mt-6">
              <li>Loneliness</li>
              <li>Anxiety</li>
              <li>Depression</li>
            </ul>
          </div>
        </div>
      </div>
<!-- component -->
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<footer class="relative bg-gr pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl fonat-semibold text-blueGray-700">Know about us more !</h4>
        <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6">
          <button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-twitter"></i></button><button class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-facebook-square"></i></button><button class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-dribbble"></i></button><button class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Useful Links</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/presentation?ref=njs-profile">About Us</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://blog.creative-tim.com?ref=njs-profile">Blog</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.github.com/creativetimofficial?ref=njs-profile">Github</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">Free Products</a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Other Resources</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-profile">MIT License</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/terms?ref=njs-profile">Terms &amp; Conditions</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/privacy?ref=njs-profile">Privacy Policy</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/contact-us?ref=njs-profile">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>
     

     
</body>
</html>