<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../static/css/output.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>user dashboard</title>
</head>
<body class = "bg-gradient-to-br from-pink-300 to-purple-300 h-screen w-screen scroll-smooth">
    <nav class="bg-gr h-16 m-4 shadow-lg flex justify-end rounded-2xl">
     <div class="mr-56"><a href=""><img class=" h-16 w-60  rounded-md p-2" src="https://drive.google.com/uc?id=1BlLJXrLvtzM2UZbH2EHI3rgrme6ojVUO"></a></div>
     </div>
      </div>
      </nav>
    
    <aside class = "w-60 -translate-x-28 fixed transition transform ease-in-out duration-1000 z-50 flex h-screen float-left">
        <!-- open sidebar button -->
             <!-- SIDEBAR-->
        <div class= "mini mt-2 flex flex-col space-y-2 w-full h-[calc(100vh)]">
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-purple-500 w-full bg-gr p-3 rounded-full transform ease-in-out duration-300 flex">
                <p class="pr-2 text-slate-900 font-semibold">home</p>
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>                  
            </div>
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-purple-500 w-full bg-gr p-3 rounded-full transform ease-in-out duration-300 flex">
                <p class="pr-2 text-slate-900 font-semibold">venting</p>    
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/></svg>       
            </div>
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-slate-900 w-full bg-gr p-3 rounded-full transform ease-in-out duration-300 flex">
                <p class="pr-1 text-slate-900 font-semibold">booking</p> 
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zM329 305c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-95 95-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L329 305z"/></svg>   
            </div>
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-slate-900 w-full bg-gr p-3 rounded-full transform ease-in-out duration-300 flex">
                <p class="pr-1 text-slate-900 font-semibold">exercise</p>
                <svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M112 96c0-17.7 14.3-32 32-32h16c17.7 0 32 14.3 32 32V224v64V416c0 17.7-14.3 32-32 32H144c-17.7 0-32-14.3-32-32V384H64c-17.7 0-32-14.3-32-32V288c-17.7 0-32-14.3-32-32s14.3-32 32-32V160c0-17.7 14.3-32 32-32h48V96zm416 0v32h48c17.7 0 32 14.3 32 32v64c17.7 0 32 14.3 32 32s-14.3 32-32 32v64c0 17.7-14.3 32-32 32H528v32c0 17.7-14.3 32-32 32H480c-17.7 0-32-14.3-32-32V288 224 96c0-17.7 14.3-32 32-32h16c17.7 0 32 14.3 32 32zM416 224v64H224V224H416z"/></svg>
            </div>
        </div>
        
    </aside>
    
    <div class="bg-white rounded-lg h-96 w-auto ml-36 mt-28 mr-24">
      <div id="divisions" class="bg-gr h-auto w-auto rounded-xl ml-12 mt-10 mr-12 p-10">
        <div class="grid grid-cols-3 gap-10 m-5 ">
        <div class="h-auto w-auto bg-black text-white p-5 rounded-lg hover:animate-bounce"><h1 class="font-bold text-xl">Looking for job..?</h1></div>
        <div class="h-auto w-auto bg-black text-white p-5 rounded-lg hover:animate-bounce"><h1 class="font-bold text-xl">News Feed</h1></div>
        <div class="h-auto w-auto bg-black text-white p-5 rounded-lg hover:animate-bounce"><h1 class="font-bold text-xl"><a href="{{url_for('forum')}}">Forums</a> </h1></div>
        <div class="h-auto w-auto bg-black text-white p-5 rounded-lg hover:animate-bounce"><h1 class="font-bold text-xl">Rewards</h1></div>
      </div>
    </div>
   
</body>
</html>